/* universal selector .... css reset*/
/* *{
    font-family: monospace !important;
    border: 1px solid red;
} */

/* Elementor Selector */

body {
    font-size: 22px;
}

button, input, textarea, select{
    font: inherit;
}
h1,h2 {
    color: blue;
}

#h1{
    font-weight: normal;
}
#h2{
    font-weight: bold;
}
#h3{
    font-weight: bolder;
}
#h4{
    font-weight: lighter;
}

p {
    color: purple ;
    border: 3px solid black;
}

.highlight {
    text-transform : uppercase;
    background-color: gold ;
}

/*classelector */
.gray {
    color: gray ;
}

/* Id selector <<Avoid>> */
#second {
    font-style: italic;
}

a {
    text-decoration: none;
    text-decoration: red doubleunderline;
}